<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Add Responden</title>
<style>
	.tengah{
		position: absolute;
		margin-top: -200px;
		margin-left: -200px;
		left: 50%;
		top: 50%;
		width: 400px;
		height: 445px;
		background-color: brown;
	}
</style>
<script>
function getID(a){
	alert(a);
}
</script>
</head>
<body>
	<div align="center" class="tengah">
	<div class="container">
		<h1> Form Responden</h1>
		
		<div class="row">
			<div class="col-sm-8">
				<form class="form-horizontal" action="#" th:action="@{/responden/add}" th:object="${responden}" method="post">
				<font face="verdana" color="white" size="2">
					<!-- <input type="hidden" th:field="*{nores}" /> -->
					
					<div class="form-group" style="margin-top: 15px;">
						<label class="col-sm-2 cobtrol-label">Nomor Identitas:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{nores}" id="nores" />
						</div>
					</div>
					
					<div class="form-group" style="margin-top: 15px;">
						<label class="col-sm-2 cobtrol-label">Umur:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{umur}" />
						</div>
					</div>
					
					<div class="form-group" style="margin-top: 15px;">
						<label class="col-sm-2 cobtrol-label">Jenis Kelamin:</label>
						<div class="col-sm-10">
						<input type="radio" name="jk" th:field="*{jk}" value="laki-laki" checked="checked" /> Laki - Laki
						<input type="radio" name="jk" th:field="*{jk}" value="perempuan" /> Perempuan
					
						</div>
					</div>
					
					<div class="form-group" style="margin-top: 15px;">
						<label class="col-sm-2 cobtrol-label">Pendidikan:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{pendidikan}" />
						</div>
					</div>
					
					<div class="form-group" style="margin-top: 15px;">
						<label class="col-sm-2 cobtrol-label">Pekerjaan:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{pekerjaan}" />
						</div>
					</div>
					
					<div class="form-group" style="margin-top: 15px;">
						<label class="col-sm-2 cobtrol-label">Periode:</label>
						<div class="col-sm-10">
						<select class="form-control" name="periode">
                        	<option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                      	</select>
						</div>
					</div>
					
					<!-- <div class="form-group" style="margin-top: 15px;">
                           <label class="col-sm-2 cobtrol-label">Tanggal Input</label>
                           <div class="col-sm-10">
                           <input type="date" class="form-control" name="tanggal"/>
                           </div>
                    </div> -->
					
					<div class="form-group">
						<button type="submit" class="btn btn-primary" style="margin-top: 25px;" onclick="getID(document.getElementById('nores').value)"
						 th:href="@{'/qall/indexanswer/'+document.getElementById('nores').value}"> Simpan dan Lanjutkan</button>
					</div>
					</font>
				</form>
			</div>
		</div>
	</div>
	</div>
</body>
</html>